@model IEnumerable<CCMovieDatabase.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Recent Posts</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <img src="@item.ThumbnailUrl" class="card-img-top" alt="@item.ThumbnailUrl">
                <div class="card-body">
                    <h4 class="card-title">@item.Title</h4>
                    <h6 class="card-subtitle text-muted">@item.Author</h6>
                    <p class="card-text">@item.ShortDescription</p>
                    <br />
                    <a asp-controller="blog" asp-action="details" asp-route-id="@item.ArticleId" class="card-link">Read More...</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    }
</div>